DATABASE_URL="postgresql://neondb_owner:npg_UvHS7EiVlx0P@ep-billowing-band-ango6gsm-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_UvHS7EiVlx0P@ep-billowing-band-ango6gsm-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
AUTH_SECRET="change-me"
NEXTAUTH_URL="http://localhost:3000"
OPENAI_API_KEY="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"
