DATABASE_URL="postgresql://neondb_owner:npg_UvHS7EiVlx0P@ep-billowing-band-ango6gsm-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_UvHS7EiVlx0P@ep-billowing-band-ango6gsm-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
AUTH_SECRET="dlcgroup_super_secret_2026_very_long_random_stringt"
NEXTAUTH_SECRET="dlcgroup_super_secret_2026_very_long_random_string"
NEXTAUTH_URL="http://localhost:3000"
OPENAI_API_KEY="replace-with-your-openai-api-key"
