@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 220 35% 99%;
  --foreground: 223 42% 15%;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
  font-feature-settings: "ss01" on, "cv01" on, "cv10" on;
}

.rtl {
  direction: rtl;
}
